{% extends '../components/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/components/create.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="row my-3">
        <div class="ap-left col-lg-6 col-sm-12 p-4">
            <img width="100%" src="{% static 'images/post.png' %}" alt="">
        </div>
        <div class="ap-right col-lg-6 col-sm-12 p-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary px-4">Post</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}