{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hactico - {{ title }}</title>
    {% block css %}
    {% endblock %}
    <link rel="shorcut icon" type="img/png" href="{% static 'images/icon.png' %}" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
  </style>
  <body>
    {% include 'blog/components/navbar.html' %}
    {% block content %}
    {% endblock %}
    {% include 'blog/components/footer.html' %}
</html>