{% load static %}

<head>
    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/components/footer.css' %}">
    {% endblock %}
</head>
<body>
    <footer id="ap-footer">
        <div class="ap-columns">
            <div class="ap-col">
                <div class="ap-logo">
                    <a href="{% url 'home_view' %}">
                    <h2><span>H</span>actico</h2>
                  </a>
                  </div>
            </div>
            <div class="ap-col">
                <div class="ap-title">
                    <h4>Find us on social media</h4>
                </div>
                    <div class="ap-social-medias">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
            </div>
            <div class="ap-col">
                <div class="ap-title">
                    <h4>Company</h4>
                </div>
                <div class="ap-company-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </div>
            </div>
            <div class="ap-col">
                <div class="ap-title">
                    <h4>Create an account</h4>
                </div>
                <div class="ap-account-links">
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Profile</a></li>
                </div>
            </div>
        </div>
        <br>
    </footer>
</body>