{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/components/navbar.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <nav class="ap-navbar" id="ap-navbar">
    <div class="ap-logo">
      <a href="{% url 'home_view' %}">
      <h2><span>H</span>actico</h2>
    </a>
    </div>
    <div class="ap-mobile">
      <i class="fa-solid fa-bars" onclick="openMenu()"></i>
    </div>
    <div class="ap-links">
      <ul>
        <div class="ap-mobile"">
          <i class="fa-solid fa-close" onclick="closeMenu()"></i>
        </div>
        <li><a href="{% url 'home_view' %}">Home</a></li>
        <li><a href="{% url 'posts' %}">Posts</a></li>
        <li><a href="#">Contact</a></li>
        {% if user.is_authenticated %} 
        <div class="ap-logout-mobile">
          <a href="{% url 'logout' %}">Log out</a>
        </div>
        {% else %}
        <div class="ap-authentication-mobile">
          <a href="{% url 'login' %}">
          <i class="fa-solid fa-user"></i>
        </a>
        </div>
        {% endif %}
      </ul>
    </div>
      {% if user.is_authenticated != True %}
    <div class="ap-authentication-wide">
      <a href="{% url 'login' %}">
        <i class="fa-solid fa-user"></i>
      </a>
    </div>
      {% else %}
      <div class="ap-logout-wide">
        <a href="{% url 'logout' %}">Log out</a>
      </div>
    {% endif %}
  </nav>
  <script>
    const menu = document.querySelector('.ap-links');
    const openLinks = document.querySelector('.fa-bars');
    const closeLinks = document.querySelector('.fa-close');
    function openMenu(){
      menu.style.width = '100%';
      document.body.style.overflow = 'hidden';
    }
    function closeMenu(){
      menu.style.width = '0';
      document.body.style.overflow = 'initial';
    }
  </script>
</body>
</html>