.ap-signup{
    height: 100vh;    
}
.ap-signbox{
    width: 80%;
    height: auto;
    background-color: #182337;
    margin: 20px auto;
    padding: 60px 30px;
    border-radius: 10px;
}
.ap-sign-text h1{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

form{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px 0;
}
.ap-signbox input{
    width: 50%;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
    outline: none;
    border: 2px solid #ffff00;
    border-radius: 10px;
    font-size: 17px;
}
.ap-formbtn{
    text-align: center;
}
.ap-signbox button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffff00;
    color: #000;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}
.ap-redirect{
    margin: 15px 0;
    text-align: center;
}

@media screen and (max-width:768px) {
    .ap-signbox input{
        width: 90%;
    }
}