.signup{
    height: 100vh;    
}
.signbox{
    width: 80%;
    height: 370px;
    background-color: #182337;
    margin: 20px auto;
    padding: 60px 30px;
    border-radius: 10px;
}
.sign-text h1{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

form{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px 0;
}
.signbox input{
    width: 50%;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
    outline: none;
    border: 2px solid #ffff00;
    border-radius: 10px;
    font-size: 17px;
}
.formbtn{
    text-align: center;
}
.signbox button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffff00;
    color: #000;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}
.redirect{
    margin: 15px 0;
    text-align: center;
}

#messages{
    margin: 15px 0;
    padding: 5px;
    color: white;
    border-radius: 4px;
}
.success{
    background-color:#0d9b0d;
}
.error{
    background-color:#e32323;
}
@media screen and (max-width:768px) {
    .signbox input{
        width: 90%;
    }
}